*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
**/build
/captures
.kotlin/
.externalNativeBuild
.cxx
local.properties
/keystore.jks
/play-service-account.json
shytalk-7ba69-firebase-adminsdk-*.json
functions/node_modules/
worker/node_modules/
worker/.wrangler/
.env
/node_modules/
/package.json
/package-lock.json
e2e_results/
test_output.txt
nul
