<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store-connect</string>
	<key>teamID</key>
	<string>F3XX4PM3MF</string>
	<key>uploadSymbols</key>
	<false/>
	<key>uploadBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.shyden.shytalk</key>
		<string>ShyTalk App Store Distribution</string>
	</dict>
</dict>
</plist>
